.select-armas {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.select-armas h1 {
   text-align: center;
   padding: 0;
}
.select {
    margin-top: 2px;
    width: 300px;
}

.card-table {
    margin-top: 15px;
    width: 48%;
    border: 1px solid rgba(143, 143, 143, 0.459); 
}

.tables {
    width: 80%;
    display: flex;
    justify-content: space-around;
}


