.logo_cmg {
   background-color: #e1e1e1;
   height: 100vh;
}

.nav_home {
    background-color: rgb(255, 238, 0);
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    margin: 0 auto;
    padding: 25px 2px;
}

.btn-home {
    background-color: rgb(5, 5, 0);
    color: #ffee00;
    border: none;
    font-weight: bold;
    margin-right: 20px;
    width: 250px;
   height: 40px;
   margin-top: 25px;
}

.btn-home:hover {
    background-color: rgba(0, 0, 0, 0.719);
}




