 *{
    font-family:  Helvetica;
    padding: 0px;
    margin: 0px;
}


.button {
    background-color: rgb(255, 238, 0);
    color: black;
    border: none;
   font-weight: bold;
   }
   
.button:hover {
    background-color: rgba(255, 238, 0, 0.664);
}
   